.button{
	-fx-background-color: linear-gradient(#FF0000, #FF00FF);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1)
}
